# 4. DATA ANALYSIS (PART 1)

In [1]:
import pandas as pd
import numpy as np

accidents_df = pd.read_csv("/Users/jeesh/Desktop/2ndSem/DataWrangling(Proj)/accidents_cleaned.csv") #change as needed
accidents_df.head()

,ID,Start_Time,End_Time,State,City,Start_Lat,Start_Lng,Temperature(F),Weather_Condition,Hour
0,A-1,2016-02-08 05:46:00,2016-02-08 11:00:00,OH,Dayton,39.865147,-84.058723,36.9,Light Rain,5.0
1,A-2,2016-02-08 06:07:59,2016-02-08 06:37:59,OH,Reynoldsburg,39.928059,-82.831184,37.9,Light Rain,6.0
2,A-3,2016-02-08 06:49:27,2016-02-08 07:19:27,OH,Williamsburg,39.063148,-84.032608,36.0,Overcast,6.0
3,A-4,2016-02-08 07:23:34,2016-02-08 07:53:34,OH,Dayton,39.747753,-84.205582,35.1,Mostly Cloudy,7.0
4,A-5,2016-02-08 07:39:07,2016-02-08 08:09:07,OH,Dayton,39.627781,-84.188354,36.0,Mostly Cloudy,7.0

# 4.1 What are the most dangerous hours?

In [6]:
hourly_accidents = accidents_df['Hour'].value_counts().sort_index()
print("Accidents by Hour:")
print(hourly_accidents)

Accidents by Hour:
Hour
0.0      94937
1.0      82763
2.0      79470
3.0      71700
4.0     144459
5.0     203150
6.0     364578
7.0     533444
8.0     528563
9.0     325588
10.0    305577
11.0    314292
12.0    309023
13.0    343476
14.0    384968
15.0    452434
16.0    508695
17.0    505183
18.0    381410
19.0    260345
20.0    196171
21.0    164367
22.0    143876
23.0    106669
Name: count, dtype: int64

# 4.2 Which states are most accident-prone?

In [11]:
state_accidents = accidents_df['State'].value_counts()
print("\nTop States by Accident Count:")
print(state_accidents)

Top States by Accident Count:
State
CA    1521976
FL     751644
TX     535188
SC     344085
NY     307443
NC     306223
PA     255766
VA     244974
MN     168730
IL     160399
OR     159550
GA     153275
TN     151121
MI     150204
AZ     147804
LA     134426
NJ     120276
OH     109971
WA     101597
MD      98777
AL      94404
UT      81781
CO      81423
OK      80710
MO      68283
CT      62056
IN      60476
MA      58754
KY      31496
WI      31314
NE      28091
IA      23395
MT      21115
NV      19372
AR      17978
RI      16019
KS      15621
DC      14732
MS      13518
DE      12714
WV      10913
NH      10034
NM       9731
ID       8994
ME       2642
WY       2514
ND       2488
VT        886
SD        255
Name: count, dtype: int64